BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: true
ReflowComments: true
PointerAlignment: Left
AlignAfterOpenBracket: Align
SpaceAfterCStyleCast: true
